source ~/zephyrproject/.venv/bin/activate
export ZEPHYR_BASE=~/zephyrproject/zephyr

# Stick the Zephyr sdk commands in the path.
export PATH="$HOME/.local/opt/zephyr-sdk-0.17.1/arm-zephyr-eabi/bin:$PATH"
