/*
 * Copyright (c) 2021 Yonatan Schachter
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <rpi_pico/rp2040.dtsi>
#include "pimoroni_tiny_2040-pinctrl.dtsi"
/* #include "sparkfun_pro_micro_connector.dtsi" */
#include <freq.h>
#include <zephyr/dt-bindings/led/led.h>
#include <zephyr/dt-bindings/pwm/pwm.h>

/ {
	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,flash-controller = &ssi;
		// zephyr,console = &uart0;
		zephyr,code-partition = &code_partition;
	};

	aliases {
		watchdog0 = &wdt0;
		led-strip = &ws2812;
		/* pwm-red = &pwm_red; */
		/* pwm-green = &pwm_green; */
	};

	leds {
		compatible = "gpio-leds";

		/* Declare these, but disable. */
		status = "disabled";

		red_led: led_0 {
			gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>;
			label = "Red - LED0";
		};

		green_led: led_1 {
			gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>;
			label = "Green - LED1";
		};

		blue_led: led_2 {
			gpios = <&gpio0 20 GPIO_ACTIVE_HIGH>;
			label = "Blue - LED2";
		};
	};

	pwm_leds: pwm_leds {
		compatible = "pwm-leds";
		status = "okay";
		pwm_red: pwm_led_0 {
			pwms = <&pwm 2 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
			label = "PWM_RED";
		};
		pwm_green: pwm_led_1 {
			pwms = <&pwm 3 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
			label = "PWM_GREEN";
		};
		pwm_blue: pwm_led_2 {
			pwms = <&pwm 4 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
			label = "PWM_BLUE";
		};
	};
};

&flash0 {
	/* 16MB of flash minus the 0x100 used for
	 * the second stage bootloader
	 */
	reg = <0x10000000 DT_SIZE_M(16)>;

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* Reserved memory for the second stage bootloader */
		second_stage_bootloader: partition@0 {
			label = "second_stage_bootloader";
			reg = <0x00000000 0x100>;
			read-only;
		};


		/*
		 * Usable flash. Starts at 0x100, after the bootloader. The partition
		 * size is 16MB minus the 0x100 bytes taken by the bootloader.
		 */
		code_partition: partition@100 {
			label = "code-partition";
			reg = <0x100 (DT_SIZE_M(16) - 0x100)>;
			read-only;
		};
	};
};

&clocks {
	pinctrl-0 = <&clocks_default>;
	pinctrl-names = "default";
};

&uart0 {
	current-speed = <115200>;
	status = "okay";
	pinctrl-0 = <&uart0_default>;
	pinctrl-names = "default";
};

&uart1 {
	status = "disabled";
};

&i2c1 {
	status = "okay";
	pinctrl-0 = <&i2c1_default>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_FAST>;
};

&spi0 {
	status = "okay";
	pinctrl-0 = <&spi0_default>;
	pinctrl-names = "default";
	clock-frequency = <DT_FREQ_M(2)>;
};

&gpio0 {
	status = "okay";
};

&wdt0 {
	status = "okay";
};

&adc {
	status = "okay";
	pinctrl-0 = <&adc_default>;
	pinctrl-names = "default";
};

&pwm {
	status = "okay";
	pinctrl-0 = <&pwm_default>;
	divider-int-0 = <255>;
	divider-int-1 = <255>;
	divider-int-2 = <255>;
	divider-frac-0 = <15>;
	divider-frac-1 = <15>;
	divider-frac-2 = <15>;
	pinctrl-names = "default";
};

&pio0 {
	status = "okay";

	pio-ws2812 {
		compatible = "worldsemi,ws2812-rpi_pico-pio";
		status = "okay";
		pinctrl-0 = <&ws2812_pio0_default>;
		pinctrl-names = "default";
		bit-waveform = <3>, <3>, <4>;

		ws2812: ws2812 {
			status = "okay";
			gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>;
			chain-length = <4>;
			color-mapping = <LED_COLOR_ID_GREEN
					 LED_COLOR_ID_RED
					 LED_COLOR_ID_BLUE>;
			reset-delay = <280>;
			frequency = <800000>;
		};
	};
};

zephyr_udc0: &usbd {
	status = "okay";
};

&vreg {
	regulator-always-on;
	regulator-allowed-modes = <REGULATOR_RPI_PICO_MODE_NORMAL>;
};
