/* Device tree overlay for Proto2 keyboard matrix
 * This needs to be better specialized to allow multiple boards.
 * We are using the gpio-kbd-matrix definition, because it works for what we need,
 * but if it becomes divergent, we can make our own.
 */

/ {
	aliases {
		matrix = &kbd_matrix;
	};

	chosen {
		zephyr,matrix = &kbd_matrix;
	};

	kbd_matrix: kbd-matrix {
		compatible = "gpio-kbd-matrix";
		row-gpios = <&gpio0 7 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
			    <&gpio0 26 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
			    <&gpio0 22 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
		col-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>,
			    <&gpio0 3 GPIO_ACTIVE_HIGH>,
			    <&gpio0 4 GPIO_ACTIVE_HIGH>,
			    <&gpio0 5 GPIO_ACTIVE_HIGH>,
			    <&gpio0 6 GPIO_ACTIVE_HIGH>;
		col-drive-inactive;
		idle-mode = "scan";
	};
};
