/* Bring in the CDC UARTs. */
 &zephyr_udc0 {
        cdc_acm_uart0 {
                compatible = "zephyr,cdc-acm-uart";
        };
        cdc_acm_uart1 {
                compatible = "zephyr,cdc-acm-uart";
        };
};
