/ {
	chosen {
		board-info = &board_info;
	};

	board_info: board-info@101fff00 {
		compatible = "bbq,board-info";
		reg = <0x101fff00 0x100>;
		status = "okay";
	};

	hid_dev_0: hid_dev_0 {
		compatible = "zephyr,hid-device";
		label = "HID0";
		protocol-code = "keyboard";
		in-report-size = <8>;
		in-polling-period-us = <1000>;
	};
};
